.about-us {
  height: 30rem;
  color: #000;
  margin-top: 5rem;
}

.about-us__article {
  width: 90%;
  margin: auto;
  text-align: center;
}

.about-us__link {
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  color: #b2b2b2;
  text-decoration: underline;
  line-height: 1.857;
}

.about-us__header {
  text-transform: uppercase;
  font-size: 3.75rem;
  margin-bottom: 2.5rem;
}

.about-us__paragraph {
  width: 100%;
  margin-bottom: 3.75rem;
  letter-spacing: 0.5px;
  text-align: center;
}

.slides {
  display: none;
  position: relative;
  width: 37.5625rem;
  height: 25.6875rem;
}

.big-img {
  width: inherit;
  height: inherit;
}

@media screen and (min-width: 600px) {

  .about-us__article {
    margin-left: 2rem;
    width: 50%;
    float: left;
    text-align: left;
  }

  .about-us__header {
    letter-spacing: 0.3125rem;
  }

  .about-us__paragraph {
    width: 90%;
    margin-bottom: 3.75rem;
    letter-spacing: 0.5px;
    text-align: left;
  }

  .slides {
    display: inline-block;
    width: 40%;
    margin: 0;
  }

  .big-img {
    object-fit: cover;
    width: 100%;
  }

  .little-img {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .about-us {
    height: 40.9375rem;
    margin-top: 9.0625rem;
  }

  .about-us__article {
    width: 20rem;
  }

  .about-us__paragraph {
    width: 20rem;
  }

  .slides {
    width: 37.5625rem;
  }

  .little-img {
    display: block;
    position: absolute;
    top: -25%;
    right: -25%;
  }
}

@media screen and (min-width: 1200px) {

  .about-us__article {
    width: 28.5rem;
  }

  .about-us__paragraph {
    width: 25rem;
  }

  .little-img {
    top: -20%;
    right: -18%;
  }
}