.banner {
  min-height: 21.875rem;
  max-height: 31.25rem;
  background-color: #000;
  margin-top: 4.875rem;
}

.banner__page {
  width: 100%;
  float: left;
}

.banner__article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 21.875rem;
  max-height: 31.25rem;
}

.banner__header {
  padding-bottom: 2.25rem;
  text-align: center;
  width: 90%;
}

.banner__paragraph {
  width: 90%;
  min-height: 8.4375rem;
  text-align: center;
}

.banner__button {
  width: 7.8125rem;
}

.banner-photo {
  display: none;
}

@media screen and (min-width: 700px) {

  .banner {
    min-height: 31.25rem;
  }

  .banner__page {
    width: 50%;
  }

  .banner__article {
    min-height: 31.25rem;
  }

  .banner-photo {
    height: 31.25rem;
    display: inline-block;
    background: url(../img/banner_img.png) 100% 100% no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1000px) {

  .banner__article {
    align-items: flex-start;
    margin-left: 4.0625rem;
  }

  .banner__paragraph {
    text-align: left;
    width: 70%;
  }

  .banner__header {
    font-size: 4.875rem;
    text-align: left;
  }

}