html {
  font-size: 12px;
}

body {
  background-color: #fff;
  font-family: BebasNeue, sans-serif;
  margin: 0;
  position: relative;
  padding-bottom: 400px;
  height: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 73.1875rem;
}

@media screen and (min-width: 600px)  {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {

  body {
    padding-bottom: 300px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}