.catalog {
  min-height: 1070px;
  max-width: 1171px;
  margin: auto;
}

.catalog__pages {
  padding: 0 135px;
  font-size: 24px;
  text-transform: uppercase;
  /*border-bottom: 1px solid #ededed;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.catalog__page {
  display: inline-block;
  height: 52px;
  line-height: 52px;
  text-decoration: none;
  color: #000;
  width: 225px;
  text-align: center;

  &:hover {
    background-color: #4e26fd;
    color: #fff;
 }
}

.catalog__items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 45px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.item {
  display: block;
  width: 275px;
  height: 425px;
  text-decoration: none;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);

  &:hover {
    border: 2px solid #4e26fd;
  }
}

.item__name {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #010101;
  width: 90%;
  min-height: 70px;
}

.item__price {
  font-size: 23px;
  color: #4e26fd;
}

.item__img {
  margin: 24px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 224px;
  height: 224px;
}

.item__photo,
.item__img_desc {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

.item__img_desc {
  visibility: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-top: 45%;
  background-color: rgba(78, 38, 235, 0.702);
}

.item__img:hover .item__img_desc{
  visibility: visible;
}

.show-more {
  background-color: #fff;
  width: 105px;
  height: 46px;
  margin: auto;
  margin-top: -23px;
}

.show-more__btn {
  display: block;
  margin-left: 29.5px;
  border: 1px solid #b2b2b2;
  width: 46px;
  height: 46px;
  background: #fff url(../img/show_more_btn.png) 0 0;

  &:hover {
    background: #4e26fd url(../img/show_more_btn.png) -46px 0;
  }
}
