.contact {
  color: white;
}

.contact-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 50rem;
  background-color: #000;
  margin-top: 3.375rem;
}

#map {
  width: 100%;
  height: 18.75rem;
  order: 2;
}

.contact__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  order: 1;
  margin: 3.75rem 2.5rem;
}

.contact__city {
  display: none;
}

.city_active {
  display: block;
}

.city__pages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.city__page {
  font-size: 1.5rem;
  display: inline-block;
  height: 3.25rem;
  line-height: 3.25rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
  margin-bottom: 3.125rem;
  padding: 0 1.5rem;

  &:hover {
    background-color: #4e26fd;
    color: #fff;
  }
}

.city__page_active {
  background-color: #4e26fd;
}

.contact-block__text {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-icon_pointer {
  width: 17px;
  height: 24px;
  background: url(../img/contacts-sprite.png) 21px -47px;
}

.contact-icon_phone {
  width: 15px;
  height: 25px;
  background: url(../img/contacts-sprite.png) 21px 0;
}

.contact-icon_mail {
  width: 21px;
  height: 15px;
  background: url(../img/contacts-sprite.png) 21px -29px;
}

.contact__button {
  display: block;
  width: 189px;
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 62px;
  line-height: 3rem;

  &:hover {
    background-color: #4e26fd;
    border: 2px solid #4e26fd;
  }
}

@media screen and (min-width: 600px) {
  .contact-block {
    flex-flow: row nowrap;
    min-height: 31.25rem;
  }

  #map {
    width: 50%;
    height: 500px;
    order: 1;
  }

  .contact__info {
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    order: 2;
  }

  .city__page {
    padding: 0 2.25rem;
  }

}