.portfolio {
  min-height: 40rem;
  position: relative;
}

.portfolio__blocks {
  display: none;
}

.portfolio_active {
  display: block;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.portfolio__block {
  display: block;
  position: absolute;

  &:hover .portfolio__img_desc {
    visibility: visible;
  }
}

.main-block {
  width: 100%;
  height: 100%;
}

.portfolio__img,
.portfolio__img_desc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-block__img {
  background: #000 url(../img/portfolio5.png) 100% 100% no-repeat;
  background-size: cover;
}

.portfolio__img_desc {
  visibility: hidden;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  padding-top: 30%;
  text-align: center;
  background-color: rgba(78, 38, 235, 0.702);
}

.left-top-block,
.left-bottom-block,
.right-top-block,
.right-bottom-block {
  display: none;
}

.portfolio__button {
  font-size: 1.5rem;
  color: #4e26fd;
  width: 10.8125rem;
  background-color: #fff;
  border: 2px solid #4e26fd;
  margin: auto;
  line-height: 3rem;

  &:hover {
    color: #fff;
    background-color: #4e26fd;
  }
}

.portfolio__listing-left {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff url(../img/arrows_sprite.png) 0 -132px;

  &:hover {
    background: #4e26fd url(../img/arrows_sprite.png) 0 0;
  }
}

.portfolio__listing-right {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff url(../img/arrows_sprite.png) -44px -132px;

  &:hover {
    background: #4e26fd url(../img/arrows_sprite.png) -44px 0;
  }
}

@media screen and (min-width: 1000px) {

  .portfolio {
    min-height: 54.6875rem;
  }

  .portfolio__blocks {
    height: 43.125rem;
  }

  .portfolio__block {
    position: absolute;
    border: 2px solid rgba(78, 38, 235, 0);

    &:hover {
      border: 2px solid #4e26fd;
      background-color: #fff;
    }
  }

  .portfolio__img,
  .portfolio__img_desc {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  .main-block {
    width: 40.5625rem;
    height: 28.6875rem;
    top: 5.25rem;
    right: 14.0625rem;
    z-index: 1;

    &:hover {
      z-index: 3;
    }
  }

  .left-top-block {
    display: block;
    width: 17.6875rem;
    height: 16.1875rem;
    top: 2.75rem;
    left: 6.875rem;
    z-index: 2;
  }

  .left-top-block__img {
    background: #000 url(../img/portfolio1.png) 50% 100% no-repeat;
    background-size: cover;
  }

  .left-bottom-block {
    display: block;
    width: 21.5rem;
    height: 19.625rem;
    top: 23.1875rem;
    left: 7.875rem;
    z-index: 2;
  }

  .left-bottom-block__img {
    background: #000 url(../img/portfolio2.png) 50% 100% no-repeat;
    background-size: cover;
  }

  .right-top-block {
    display: block;
    width: 21.5rem;
    height: 19.625rem;
    top: 0;
    right: 7.3125rem;
    z-index: 2;
  }

  .right-top-block__img {
    background: #000 url(../img/portfolio3.png) 15% 100% no-repeat;
    background-size: cover;
  }

  .right-bottom-block {
    display: block;
    width: 16.0625rem;
    height: 14.6875rem;
    top: 26rem;
    right: 6.6875rem;
    z-index: 2;
  }

  .right-bottom-block__img {
    background: #000 url(../img/portfolio4.png) 20% 15% no-repeat;
    background-size: cover;
  }

  .portfolio__listing-left {
    top: 21.5rem;
    left: 0;
    border: 1px solid #b2b2b2;
  }

  .portfolio__listing-right {
    top: 21.5rem;
    right: 0;
    border: 1px solid #b2b2b2;
  }
}
