.trending {
  min-height: 34.8125rem;
  width: 100%;
  margin-top: 4.6875rem;
}

.trending__header {
  font-size: 3.75rem;
  color: #000;
  text-align: center;
}

.trending__items {
  border: none;
}
