{% extends "_base.html" %}

{% block index %}
<section class="preview">

    <section class="catalog-page catalog-photo">
        <a href="#" class="listing-left preview__listing-left"></a>
        <a href="#" class="listing-right preview__listing-right"></a>
    </section>

    <section class="catalog-page">
        <article class="article preview__article">
            <h1 class="article__header preview__header">concrete furniture</h1>
            <p class="article__paragraph preview__paragraph">We fill the space content.High-quality, beautiful, solid and pleasant to the touch. Furniture and decoration of concrete? You to us.</p>
            <a href="#" class="button preview__button">shop now</a>
        </article>
    </section>

</section>

<section class="container">

    <section class="about-us">

        <article class="article about-us__article">
            <h2 class="article__header about-us__header">made with a soul</h2>
            <p class="article__paragraph about-us__paragraph">MONE studio produces concrete decor of excellent quality and at reasonable prices. You have a Loft? You to us.</p>
            <a href="#" class="about-us__link">Learn more about us</a>
        </article>

        <div class="slides">
            <img src="static/img/design-decoration2.png" alt="" class="big-img">
            <img src="static/img/design-decoration.png" alt="" class="little-img">
        </div>

    </section>

    <section class="catalog">

        <!--for activation the menu add shop__menu_active class-->
        <a class="shop" href="#">Shop
            <p class="shop__menu"></p>
        </a>

        <!--for activation the menu add catalog_active class-->
        <nav class="catalog__pages">
            <a href="#" class="catalog__page">pots of concrete</a>
            <a href="#" class="catalog__page">3d panels</a>
            <a href="#" class="catalog__page">concrete furniture</a>
            <a href="#" class="catalog__page">dining tables</a>
        </nav>

        <section class="catalog__items">
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item1.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete self MONOCUBE</p>
                <p class="item__price">$ 1000</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item2.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Countertop rectangular for dining table</p>
                <p class="item__price">$ 1650</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item3.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Saturn</p>
                <p class="item__price">$ 1200</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item4.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Boston</p>
                <p class="item__price">$ 2000</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item2.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Countertop rectangular for dining table</p>
                <p class="item__price">$ 1750</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item4.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Countertop rectangular for dining table</p>
                <p class="item__price">$ 900</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item1.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Saturn</p>
                <p class="item__price">$ 1520</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item5.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Boston</p>
                <p class="item__price">$ 2000</p>
            </a>
        </section>
        <nav class="show-more">
            <a href="#" class="show-more__btn"></a>
        </nav>
    </section>

    <section class="banner">

        <section class="banner__page">

            <article class="article banner__article">
                <p class="article__header banner__header">the best price</p>
                <p class="article__paragraph banner__paragraph">Concrete - an environmentally friendly material. We hasten to please you. Most affordable prices this season + large selection of furniture.</p>
                <a href="#" class="button banner__button">sale</a>
            </article>

        </section>

        <section class="banner__page banner-photo"></section>

    </section>

    <section class="trending">
        <div class="block__name">trending</div>

        <section class="catalog__items trending__items">

            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item6.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Countertop rectangular for dining table</p>
                <p class="item__price">$ 1750</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item2.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Countertop rectangular for dining table</p>
                <p class="item__price">$ 900</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item4.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Saturn</p>
                <p class="item__price">$ 1520</p>
            </a>
            <a href="#" class="item">
                <div class="item__img">
                    <img src="static/img/item5.png" alt="" class="item__photo">
                    <p class="item__img_desc">See more</p>
                </div>
                <p class="item__name">Concrete pot Boston</p>
                <p class="item__price">$ 2000</p>
            </a>
        </section>

    </section>

    <section class="blog">

        <div class="block__name">our blog</div>

        <section class="blog__posts">

            <a href="#" class="blog__post">
                <div class="post__date">June 24, 2016</div>

                <div class="blog__img">
                    <p class="blog__photo blog__photo1"></p>
                    <p class="blog__img_desc">See more</p>
                </div>
                <p class="blog__header">The use of nano-concrete</p>
                <p class="blog__text">We continue to maintain an alternative prize "Top 10", and show a decent idea of the week, which were not the winners in the nomination "The best solution." Our "tramp" can be heard in all the networks ...</p>
            </a>
            <a href="#" class="blog__post">
                <div class="post__date">June 25, 2016</div>
                <div class="blog__img">
                    <p class="blog__photo blog__photo2"></p>
                    <p class="blog__img_desc">See more</p>
                </div>
                <p class="blog__header">decorative concrete</p>
                <p class="blog__text">We continue to maintain an alternative prize "Top 10", and show a decent idea of the week that are not became winners ...</p>
            </a>
            <a href="#" class="blog__post">
                <div class="post__date">June 26, 2016</div>
                <div class="blog__img">
                    <p class="blog__photo blog__photo3"></p>
                    <p class="blog__img_desc">See more</p>
                </div>
                <p class="blog__header">manufacturing concrete furniture</p>
                <p class="blog__text">In the manufacture of concrete furniture in the first place, you need to know the intricacies of casting objects. First you need to fill a form, which can be made of laminated chipboard...</p>
            </a>
        </section>
    </section>

    <section class="portfolio">

        <div class="block__name">portfolio</div>

        <section class="portfolio__blocks">
            <a href="#" class="portfolio__block main-block">
                <p class="portfolio__img main-block__img"></p>
                <p class="portfolio__img_desc main-block__img_desc">See more</p>
            </a>

            <a href="#" class="portfolio__block left-top-block">
                <p class="portfolio__img left-top-block__img"></p>
                <p class="portfolio__img_desc left-top-block_desc">See more</p>
            </a>

            <a href="#" class="portfolio__block left-bottom-block">
                <p class="portfolio__img left-bottom-block__img"></p>
                <p class="portfolio__img_desc left-bottom-block_desc">See more</p>
            </a>

            <a href="#" class="portfolio__block right-top-block">
                <p class="portfolio__img right-top-block__img"></p>
                <p class="portfolio__img_desc right-top-block_desc">See more</p>
            </a>

            <a href="#" class="portfolio__block right-bottom-block">
                <p class="portfolio__img right-bottom-block__img"></p>
                <p class="portfolio__img_desc right-bottom-block_desc">See more</p>
            </a>

            <a href="#" class="listing-left portfolio__listing-left"></a>
            <a href="#" class="listing-right portfolio__listing-right"></a>

        </section>

        <a href="#" class="button portfolio__button">portfolio</a>

    </section>

    <section class="contact">

        <div class="block__name">contact</div>

        <section class="contact-block">

            <div id="map"></div><!--

         --><article class="contact__info">
                <!--For activation city page add city__page_active class-->
                <div class="city__pages">
                    <a href="#" class="city__page city__page_active">kyiv</a>
                    <a href="#" class="city__page">kharkiv</a>
                    <a href="#" class="city__page">dnipro</a>
                </div>
                <!--For activation city page add city_active class-->
                <section class="contact__city city_active">
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_pointer"></span>Kyiv, Belomorskaya street, 2</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_phone"></span>+38 066 311 3151</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_mail"></span>info@ourcompany.com.ua</p>
                </section>
                <section class="contact__city">
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_pointer"></span>Kyiv, Belomorskaya street, 2</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_phone"></span>+38 066 311 3151</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_mail"></span>info@ourcompany.com.ua</p>
                </section>
                <section class="contact__city">
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_pointer"></span>Kyiv, Belomorskaya street, 2</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_phone"></span>+38 066 311 3151</p>
                    <p class="contacts__text contact-block__text"><span class="icon contact-icon_mail"></span>info@ourcompany.com.ua</p>
                </section>

                <a href="#" class="button contact__button">contact us</a>

            </article>

        </section>
    </section>

</section>
{% endblock %}